<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.slsale.dao.function.FunctionMapper">
    <!-- 根据roleId获取 主功能菜单(au_function.parentId=0)列表 -->
    <!-- 相关子查询 -->
	<select id="getMainFunctionList" parameterType="authority" resultType="function">
	  SELECT * FROM au_function
      WHERE id =ANY(SELECT functionId FROM au_authority WHERE roleId=#{roleId} AND parentId=0)
	</select>
	
	<!-- 获取某主功能菜单下的子功能菜单列表 (parentId) -->
	<select id="getSubFunctionList" parameterType="function" resultType="function">
	  SELECT * 
      FROM au_function
      WHERE parentId=#{id} AND id =ANY(SELECT functionid
                                             FROM au_authority
                                             WHERE roleId=#{roleId})
	</select>
</mapper>  
